# Copy this file to .env if you want custom configuration

# App configuration
APP_PORT=3000
DEV_APP_PORT=3000
IMAGE_TAG=latest

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# RabbitMQ host ports (Development only)
DEV_RABBITMQ_PORT=5672
DEV_RABBITMQ_MANAGEMENT_PORT=15672

# Jenkins configuration
JENKINS_PORT=8080
JENKINS_AGENT_PORT=50000
